<h1>Please Sign Up</h1>

<form method='post' action='/signup'>
<p><label for='name'>User Name:</label>
<input type='text' id='name' name='name' value='Elsa' /></p>

<p><label for='email'>Email:</label>
<input type='email' id='email' name='email' value='snowing222@gmail.com' /></p>

<p><label for='password'>Password:</label>
<input type='password' id='password' name='password' /></p>

<p><input type='submit' value='Create Account' /></p>
</form>

