<h1>Create a Baby Profile</h1>
<form method='post' action='/babies'>
  <p><label for='name'>Name:</label>
  <input type='name' id='name' name='name' /><span style = "color:#FF0000;"> *</span></p>
  <p><label for='age'>Age:</label>
  <input type='number' id='age' name='age' min='0' /></p>
  <p><label for='gender'>Gender:</label>
  <input type="radio" id="boy" name="gender" value="boy">
  <label for="boy">Boy</label>
  <input type="radio" id="girl" name="gender" value="girl">
  <label for="girl">Girl</label><br>

  <label for="about_me">About:</label>
  <textarea id="about_me" name="about_me" rows="4" cols="50">
   Some info about your baby!
  </textarea>
  <br>
  <input type='submit' class="btn btn-default btn-xs" value='Create Profile'>
</form>