<h1>welcome to bamblino</h1>
<h2>All Playdates</h2>
<%@playdates.each_with_index do |playdate, i|%>
  <%=i+1%>. <%=playdate.title%>
  on <%=playdate.date%>
  <br>
<%end%>

<p><a href='/login'>Log In</a></p>
<p><a href='/signup'>Sign Up</a></p>